
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
html {
}
body {
    background-color: #3c3838;
    color: #666666;
    font: 12px tahoma,Arial,Verdana,sans-serif;
}
a {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #ff6600;
    text-decoration: none;
}
img {
    image-rendering: optimizequality;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul {
    list-style-type: none;
}
input {
    outline: medium none;
    vertical-align: middle;
}
textarea {
    outline: 0 none;
    resize: none;
}
.black {
    color: black;
}
.white {
    color: white;
}
.gray {
    color: gray;
}
.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
.hidden {
    display: none;
}
.clearfix {
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.dialogOverlay {
    background: url("../images/dialog_overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
div.container {
    background-color: #ffffff;
    margin: 0 auto;
    width: 950px;
}
div.container:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
div.container .span1, div.container .span2, div.container .span3, div.container .span4, div.container .span5, div.container .span6, div.container .span7, div.container .span8, div.container .span9, div.container .span10, div.container .span11, div.container .span12, div.container .span13, div.container .span14, div.container .span15, div.container .span16, div.container .span17, div.container .span18, div.container .span19, div.container .span20, div.container .span21, div.container .span22, div.container .span23, div.container .span24 {
    float: left;
    margin-right: 10px;
    overflow: hidden;
}
div.container .span1 {
    width: 30px;
}
div.container .span2 {
    width: 70px;
}
div.container .span3 {
    width: 110px;
}
div.container .span4 {
    width: 150px;
}
div.container .span5 {
    width: 190px;
}
div.container .span6 {
    width: 230px;
}
div.container .span7 {
    width: 270px;
}
div.container .span8 {
    width: 310px;
}
div.container .span9 {
    width: 350px;
}
div.container .span10 {
    float: right;
}
div.container .span11 {
    width: 430px;
}
div.container .span12 {
    width: 470px;
}
div.container .span13 {
    width: 510px;
}
div.container .span14 {
    width: 550px;
}
div.container .span15 {
    width: 590px;
}
div.container .span16 {
    width: 630px;
}
div.container .span17 {
    width: 670px;
}
div.container .span18 {
    width: 710px;
}
div.container .span19 {
    width: 750px;
}
div.container .span20 {
    width: 790px;
}
div.container .span21 {
    width: 830px;
}
div.container .span22 {
    width: 870px;
}
div.container .span23 {
    width: 910px;
}
div.container .span24 {
    margin-right: 0;
    width: 950px;
}
div.container .span10 {
    margin-right: 0;
    width: 950px;
}
div.container .prepend1 {
    padding-left: 40px;
}
div.container .prepend2 {
    padding-left: 80px;
}
div.container .prepend3 {
    padding-left: 120px;
}
div.container .prepend4 {
    padding-left: 160px;
}
div.container .prepend5 {
    padding-left: 200px;
}
div.container .prepend6 {
    padding-left: 240px;
}
div.container .prepend7 {
    padding-left: 280px;
}
div.container .prepend8 {
    padding-left: 320px;
}
div.container .prepend9 {
    padding-left: 360px;
}
div.container .prepend10 {
    padding-left: 400px;
}
div.container .prepend11 {
    padding-left: 440px;
}
div.container .prepend12 {
    padding-left: 480px;
}
div.container .prepend13 {
    padding-left: 520px;
}
div.container .prepend14 {
    padding-left: 560px;
}
div.container .prepend15 {
    padding-left: 600px;
}
div.container .prepend16 {
    padding-left: 640px;
}
div.container .prepend17 {
    padding-left: 680px;
}
div.container .prepend18 {
    padding-left: 720px;
}
div.container .prepend19 {
    padding-left: 760px;
}
div.container .prepend20 {
    padding-left: 800px;
}
div.container .prepend21 {
    padding-left: 840px;
}
div.container .prepend22 {
    padding-left: 880px;
}
div.container .prepend23 {
    padding-left: 920px;
}
div.container .append1 {
    padding-right: 40px;
}
div.container .append2 {
    padding-right: 80px;
}
div.container .append3 {
    padding-right: 120px;
}
div.container .append4 {
    padding-right: 160px;
}
div.container .append5 {
    padding-right: 200px;
}
div.container .append6 {
    padding-right: 240px;
}
div.container .append7 {
    padding-right: 280px;
}
div.container .append8 {
    padding-right: 320px;
}
div.container .append9 {
    padding-right: 360px;
}
div.container .append10 {
    padding-right: 400px;
}
div.container .append11 {
    padding-right: 440px;
}
div.container .append12 {
    padding-right: 480px;
}
div.container .append13 {
    padding-right: 520px;
}
div.container .append14 {
    padding-right: 560px;
}
div.container .append15 {
    padding-right: 600px;
}
div.container .append16 {
    padding-right: 640px;
}
div.container .append17 {
    padding-right: 680px;
}
div.container .append18 {
    padding-right: 720px;
}
div.container .append19 {
    padding-right: 760px;
}
div.container .append20 {
    padding-right: 800px;
}
div.container .append21 {
    padding-right: 840px;
}
div.container .append22 {
    padding-right: 880px;
}
div.container .append23 {
    padding-right: 920px;
}
div.container .last {
    margin-right: 0;
}
input.text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/common.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #b8b8b8 #dcdcdc #dcdcdc #b8b8b8;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    height: 26px;
    line-height: 26px;
    padding: 0 4px;
    width: 220px;
}
input.text[type="file"] {
    box-shadow: none;
}
input.text:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #74b9ef;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    transition: box-shadow 0.2s linear 0s;
}
input.text:disabled {
    background-color: #f6f6f6;
}
input.text:disabled:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f6f6f6;
    border-color: #b8b8b8 #dcdcdc #dcdcdc #b8b8b8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    transition: none 0s ease 0s ;
}
textarea.text {
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #666666;
    font-size: 12px;
    height: 160px;
    padding: 4px;
    width: 440px;
}
textarea.text:hover {
    border: 1px solid #74b9ef;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    transition: box-shadow 0.2s linear 0s;
}
textarea.text:disabled {
    background-color: #f6f6f6;
    box-shadow: none;
}
textarea.text:disabled:hover {
    background-color: #f6f6f6;
    border: 1px solid #c1c1c1;
    box-shadow: none;
    transition: none 0s ease 0s ;
}
a.button {
    background: url("../images/common.gif") repeat-x scroll 0 -30px rgba(0, 0, 0, 0);
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    color: #646464;
    display: -moz-inline-stack;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    outline: medium none;
    padding: 0 14px;
    text-shadow: 1px 1px #ffffff;
}
a.button:hover {
    background-position: 0 -60px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 6px rgba(0, 0, 0, 0.15);
    color: #333333;
    transition: box-shadow 0.2s linear 0s;
}
a.button:active {
    background-position: 0 -90px;
}
a.button:disabled {
    color: #bbbbbb;
}
a.button:disabled:hover, a.button:disabled:active {
    background-position: 0 0;
    border: 1px solid #dcdcdc;
    box-shadow: none;
    color: #bbbbbb;
    transition: none 0s ease 0s ;
}
input.button {
    background: url("../images/common.gif") repeat-x scroll 0 -30px rgba(0, 0, 0, 0);
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    color: #646464;
    cursor: pointer;
    display: -moz-inline-stack;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    outline: medium none;
    padding: 0 14px;
    text-shadow: 1px 1px #ffffff;
}
@-moz-document url-prefix("") {
input.button {
    padding: 0 10px;
}
}
input.button:hover {
    background-position: 0 -60px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 6px rgba(0, 0, 0, 0.15);
    color: #333333;
    transition: box-shadow 0.2s linear 0s;
}
input.button:active {
    background-position: 0 -90px;
}
input.button:disabled {
    color: #bbbbbb;
}
input.button:disabled:hover, input.button:disabled:active {
    background-position: 0 0;
    border: 1px solid #dcdcdc;
    box-shadow: none;
    color: #bbbbbb;
    transition: none 0s ease 0s ;
}
span.requiredField {
    color: #ff6d6d;
    font-size: 10px;
    padding-right: 3px;
}
label.fieldError {
    color: #F4102A;
    line-height: 23px;
    padding-left: 6px;
}
div.xxMessage {
    background-color: #ffffff;
    border: 1px solid #999999;
    box-shadow: 1px 1px 6px #999999;
    display: none;
    left: 50%;
    overflow: hidden;
    padding: 10px 30px;
    position: fixed;
    top: 25%;
    z-index: 100;
}
div.xxMessage .messageContent {
    color: #666666;
    line-height: 24px;
    padding: 0 10px 0 30px;
}
div.xxMessage .messagewarnIcon {
    background: url("../images/common.gif") no-repeat scroll -60px -330px rgba(0, 0, 0, 0);
}
div.xxMessage .messagesuccessIcon {
    background: url("../images/common.gif") no-repeat scroll -30px -360px rgba(0, 0, 0, 0);
}
div.xxMessage .messageerrorIcon {
    background: url("../images/common.gif") no-repeat scroll 0 -390px rgba(0, 0, 0, 0);
}
div.xxMessage .messageIframe {
    height: 2000px;
    left: -100px;
    position: absolute;
    top: -100px;
    width: 2000px;
    z-index: -1;
}
span.loadingIcon {
    background: url("../images/loading_icon.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: -moz-inline-stack;
    height: 20px;
    line-height: 20px;
    width: 20px;
}
span.loadingBar {
    background: url("../images/loading_bar.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: -moz-inline-stack;
    height: 20px;
    line-height: 20px;
    width: 208px;
}
div.path {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    clear: both;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}
div.path li {
    background: url("../images/common.gif") no-repeat scroll right -270px rgba(0, 0, 0, 0);
    color: #d96663;
    float: left;
    padding: 0 20px 0 10px;
}
div.path li.last {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
div.header .logo {
    float: left;
    height: 50px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 3px;
    width: 200px;
}
div.header .headerAd {
    height: 60px;
}
div.header .topNav ul {
    float: right;
}
div.header .topNav li {
    float: left;
    line-height: 30px;
}
div.header .topNav li a {
    margin: 0 6px;
}
div.header .headerLogin, div.header .headerRegister, div.header .headerUsername, div.header .headerLogout {
    display: none;
}
div.header .cart {
    background: url("../images/common.gif") no-repeat scroll -210px -180px rgba(0, 0, 0, 0);
    float: left;
    height: 28px;
    line-height: 28px;
    margin-bottom: 4px;
    margin-left: 80px;
    padding-left: 30px;
    width: 60px;
}
div.header .phone {
    background: url("../images/common.gif") no-repeat scroll -210px -210px #fcfcfc;
    border: 1px solid #f0f0f0;
    float: right;
    height: 28px;
    line-height: 28px;
    margin-bottom: 4px;
    padding: 0 10px 0 26px;
    white-space: nowrap;
}
div.header .phone strong {
    font-size: 14px;
    font-weight: bold;
}
div.header .mainNav {
    color: #f50;
    height: 36px;
    overflow: hidden;
     background-color: #E4D8D2;
}
div.header .mainNav li {
    color: #747474;
    float: left;
    height: 36px;
    line-height: 36px;
}
div.header .mainNav li:hover {
    background-color: #505050;
    color: #505050;
}
div.header .mainNav li a {
    color: #c40000;
    font-size: 14px;
    font-weight: bold;
    margin: 0 20px;
}
div.header .mainNav a.current {
    background-color: #ca062c;
    border-bottom: 1px solid #1d1d1d;
    color: #ca062c;
    height: 35px;
    line-height: 36px;
}
div.header .tagWrap {
    background: url("../images/common.gif") repeat-x scroll 0 -120px rgba(0, 0, 0, 0);
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
}
div.header .tag {
    float: left;
    margin-right: 10px;
}
div.header .tag li {
    border-right: 1px solid #e4e4e4;
    float: left;
}
div.header .tag .icon {
    background: none no-repeat scroll right 2px rgba(0, 0, 0, 0);
    padding-right: 10px;
}
div.header .tag a {
    margin: 0 20px;
}
div.header .hotSearch {
    float: left;
    height: 38px;
    line-height: 38px;
    margin-right: 10px;
    overflow: hidden;
    text-align: right;
    width: 390px;
}
div.footer .bottomNav {
    margin-bottom: 10px;
    text-align: center;
}
div.footer .bottomNav li {
    display: inline;
    line-height: 26px;
}
div.footer .bottomNav a {
    margin: 0 10px;
}
div.footer .copyright {
    color: #555555;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}
div.pagination {
    float: right;
    height: 20px;
    margin-bottom: 10px;
}
div.pagination a, div.pagination span {
    display: inline;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-left: 3px;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
div.pagination a {
    border: 1px solid #cccccc;
    padding: 0 5px;
}
div.pagination a:hover {
    border: 1px solid #fd6d01;
    text-decoration: none;
}
div.pagination a.previousPage {
    background: url("../images/common.gif") no-repeat scroll 0 -180px rgba(0, 0, 0, 0);
    padding: 0;
    width: 18px;
}
div.pagination span.previousPage {
    background: url("../images/common.gif") no-repeat scroll -30px -180px rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    cursor: default;
    width: 18px;
}
div.pagination a.nextPage {
    background: url("../images/common.gif") no-repeat scroll 0 -210px rgba(0, 0, 0, 0);
    padding: 0;
    width: 18px;
}
div.pagination span.nextPage {
    background: url("../images/common.gif") no-repeat scroll -30px -210px rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    cursor: default;
    width: 18px;
}
div.pagination a.firstPage {
    background: url("../images/common.gif") no-repeat scroll -60px -180px rgba(0, 0, 0, 0);
    padding: 0;
    width: 18px;
}
div.pagination span.firstPage {
    background: url("../images/common.gif") no-repeat scroll -90px -180px rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    cursor: default;
    width: 18px;
}
div.pagination a.lastPage {
    background: url("../images/common.gif") no-repeat scroll -60px -210px rgba(0, 0, 0, 0);
    padding: 0;
    width: 18px;
}
div.pagination span.lastPage {
    background: url("../images/common.gif") no-repeat scroll -90px -210px rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    cursor: default;
    width: 18px;
}
div.pagination .currentPage {
    background-color: #ffede1;
    border: 1px solid #fd6d01;
    color: #fd6d01 !important;
    cursor: default;
    font-weight: bold;
    padding: 0 5px;
}
div.pagination .pageBreak {
    color: #3366cc;
    cursor: default;
    padding: 0 5px;
}
.floatleft {
    float: left;
}
